@import models.ContractDraftData
@import helper._

@(form: Form[ContractDraftRawData])(implicit request: MessagesRequestHeader)

@main("Автозаполнение сделки") {
    @if(form.hasGlobalErrors) {
        <ul>
        @for(error <- form.globalErrors) {
            <li>@error.format</li>
        }
        </ul>
        <br>
    }

    @helper.form(routes.ContractController.submitRawContractDraft()) {
        @CSRF.formField
        @helper.textarea(
            form("raw"),
            '_label -> "Первая строка - номер сделки, дальнейшие строки - ссылки на скриншоты",
            'rows -> 10,
            'cols -> 50
        )
        <br>
        <button>Отправить</button>
    }
}