@import models.Contract
@import utils.Utils.Math._
@import utils.Utils.DateTime._

@(contracts: Seq[Contract])

@main("Торговый журнал: список сделок") {
    <style>
        th, td {
            text-align: center;
            padding: 5px;
        }
    </style>

    <a href="@routes.ContractController.addEditContract()">Создать сделку</a>
    <br>
    <a href="@routes.ContractController.addContractDraft()">Предзаполнить сделку</a>
    <br>
    <a href="@routes.ContractController.addRawContractDraft()">Предзаполнить сделку одним полем</a>
    <br>
    <h2>Список сделок</h2>
    <br>
    <table border="1" width="100%" bgcolor="#FFFFFF" cellspacing="0" cellpadding="2">
        <tr>
            <th>№</th>
            <th>Счёт</th>
            <th>Дата</th>
            <th>Экспирация</th>
            <th>Актив</th>
            <th>Прогноз</th>
            <th>Вложение</th>
            <th>%</th>
            <th>Результат</th>
            <th>Доход</th>
            <th>Тэги</th>
            <th>По ТС?</th>
            <th>Действия</th>
        </tr>
        @for(c <- contracts){
            <tr>
                <td>@c.number</td>
                <td>@c.contractType</td>
                <td>@c.created.toLocalDateTime.toLocalDate.formatRus</td>
                <td>@c.expiration</td>
                <td>@c.fxSymbol</td>
                <td>@c.direction</td>
                <td>@c.buyPrice.round2</td>
                <td>@c.profitPercent.round3</td>
                <td><a href="@routes.ContractController.viewContract(c.id)">@c.isWin</a></td>
                <td>@c.income.round2</td>
                <td>@c.tags</td>
                <td>@c.isCorrect</td>
                <td>
                    <div><a href="@routes.ContractController.addEditContract(Some(c.id))">Редактировать</a></div>
                    <div><a onclick="deletingConfirm('@{c.id}')" href="javascript:void(0);">Удалить</a></div>
                </td>
            </tr>
        }
    </table>
}

<script>
    function deletingConfirm(id) {
        if (confirm("Удаляем сделку! Уверен?"))
            window.location.assign("/deleteContract/" + id)
    }
</script>